{% load static %}

<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'tfb/css/fontawesome.css' %}">
     <link rel="stylesheet" href="{% static 'tfb/css/fontawesome-5.7.1-web/css/all.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'tfb/css/bootstrap.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'tfb/css/main.css' %}">
    <!--change profile picture-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     {% if title %}
       <title>Tech for Biotech - {{ title }}</title>
     {% else %}
       <title>Tech for Biotech</title>
     {% endif %}
</head>
<body>

<!--NAVIGATION MENU-->  
<div class="sticky-top">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'tfb/img/emblems/dominosubfont2.svg' %}" width="100" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav text-center ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'tfb-home' %}">
                        <i class="fas fa-home"></i>   
                      </a>
                    </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'professional-pro_view_events_details' %}">
                      <i class="far fa-calendar-alt"></i>    
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'professional-pro_view_hubspot' %}">
                      <i class="fas fa-dna"></i>   
                  </a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'professional-pro_view_my_profile' %}">
                    <i class="fas fa-user-edit"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
         </div>    
     
      {% block content %} 
      {% endblock content %}    
      
      {% block styles %}
      {% endblock %}
   

<!--Scripts-->
<script src="{% static 'tfb/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'tfb/js/popper.min.js' %}"></script>
<script src="{% static 'tfb/js/bootstrap.min.js' %}"></script>  

 </body>
</html>