{% extends "techforbiotech/base_professional.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'professional/css/personalevent_lists.css' %}">
{% endblock %}

{% block content %}
 
 
 <!--BREADCRUMB LIST-->         
    <div class="card shadow p-3 mb-5 mt-2 bg-white rounded text-center mx-auto" style="width: 95%;">
        <div class="card-body">
          <nav class="breadcrumb mb-4">
            <a class="breadcrumb-item" href="{% url 'professional-pro_view_edit_events_list_of_attendees' %}">WILL ATTEND</a>
            <a class="breadcrumb-item" href="{% url 'professional-pro_view_edit_events_list_of_interested' %}">INTERESTED</a>
            <a class="breadcrumb-item active">CAN'T ATTEND</a>
        </nav>  
                          
<!--List of cant attend--> 
  <div class="container-fluid" style="margin-top: 3rem; margin-bottom: 3rem;">
    <div class="row">
        <div class="col-md-4">
          <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
           <div class="media-body">
            <h5 class="mt-0">Sylvia Hosano</h5>
            <h6>Cras sit amet nibh libero.</h6>
            <img src="{% static 'tfb/img/emblems/bbn.svg' %}" class="img-fluid" alt="...">   
          </div>
        </div>
      </div>
    <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
         <div class="media-body">
          <h5 class="mt-0">Micheal Douglas</h5>
          <h6>Cras sit amet nibh libero.</h6>
          <img src="{% static 'tfb/img/emblems/tn.svg' %}" class="img-fluid" alt="...">   
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Veronica Paolini</h5>
        <h6>Cras sit amet nibh libero.</h6>
        <img src="{% static 'tfb/img/emblems/sn.svg' %}" class="img-fluid" alt="...">   
      </div>
    </div>
  </div>
</div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Sylvia Hosano</h5>
            <h6>Cras sit amet nibh libero.</h6>
            <img src="{% static 'tfb/img/emblems/in.svg' %}" class="img-fluid" alt="...">   
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Micheal Douglas</h5>
            <h6>Cras sit amet nibh libero.</h6>
            <img src="{% static 'tfb/img/emblems/cn.svg' %}" class="img-fluid" alt="...">   
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Veronica Paolini</h5>
            <h6>Cras sit amet nibh libero.</h6>
            <img src="{% static 'tfb/img/emblems/tn.svg' %}" class="img-fluid" alt="...">    
            </div>
          </div>
        </div>
    </div>
      <div class="row mt-4">
         <div class="col-md-4">
           <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
             <div class="media-body">
               <h5 class="mt-0">Sylvia Hosano</h5>
               <h6>Cras sit amet nibh libero.</h6>
               <img src="{% static 'tfb/img/emblems/sn.svg' %}" class="img-fluid" alt="...">   
              </div>
            </div>
          </div>
         <div class="col-md-4">
          <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Micheal Douglas</h5>
              <h6>Cras sit amet nibh libero.</h6>
              <img src="{% static 'tfb/img/emblems/an.svg' %}" class="img-fluid" alt="...">    
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Veronica Paolini</h5>
              <h6>Cras sit amet nibh libero.</h6>
              <img src="{% static 'tfb/img/emblems/csn.svg' %}" class="img-fluid" alt="...">   
            </div>
          </div>
        </div>
      </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="media">
              <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Sylvia Hosano</h5>
                <h6>Cras sit amet nibh libero.</h6>
                <img src="{% static 'tfb/img/emblems/in.svg' %}" class="img-fluid" alt="...">   
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
             <div class="media-body">
              <h5 class="mt-0">Micheal Douglas</h5>
              <h6>Cras sit amet nibh libero.</h6>
              <img src="{% static 'tfb/img/emblems/bbn.svg' %}" class="img-fluid" alt="...">   
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="media">
            <img class="mr-3" src="{% static 'professional/img/blue.png' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Veronica Paolini</h5>
                <h6>Cras sit amet nibh libero.</h6>
                <img src="{% static 'tfb/img/emblems/tn.svg' %}" class="img-fluid" alt="...">   
              </div>
            </div>
          </div>
        </div>
      </div>                 
    </div>
</div>

<!--COME BACK TO EDIT YOUR EVENTS-->            
<a href="{% url 'professional-pro_view_edit_your_events' %}">                   
  <button type="button" class="btn btn-lg rounded mt-5 mb-5 mx-auto d-block">Come back</button>
</a>  



   {% endblock content %} 