/* Fonts Poppins - main */
@import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|Oxygen|Poppins|Varela+Round');

html {
    font-size: calc(0.5em + 1vw); 
    max-width: 100%; 
}

/***** LISTOFATTENDEES.CSS *****/

body {
    font-family: 'Poppins', sans-serif;
}

.btn-lg {
    color: #fff;
    background-color: #084E75;  
}

.mr-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-fluid {
    width: 35px;
    height: 35px;
}

.breadcrumb {
    background: #084E75;
    color: #fff;
}