/* Fonts Poppins - main */
@import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|Oxygen|Poppins|Varela+Round');

html {
    font-size: calc(0.5em + 1vw); 
    max-width: 100%; 
}

/***** SEEDISCOUNTEDRESTAURANTSANDBARS.CSS *****/

body {
    font-family: 'Poppins', sans-serif;
}

/*** Card ***/

.card-header {
  background-color: #084E75;
  color: #f1f1f1;
}

.card-img-top {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn {
    color: #fff;
    background: #084E75;
}
