/* Fonts Poppins - main */
@import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|Oxygen|Poppins|Varela+Round');

html {
    font-size: calc(0.5em + 1vw); 
    max-width: 100%; 
}

/***** SEE_YOUR_COMING_EVENTS.CSS *****/

body {
    font-family: 'Poppins', sans-serif;
}

/*** Card ***/

.card {
    width: 70%;
    max-width: 100%;
    border: transparent;
 }

 
