{% extends "techforbiotech/base_domino.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tfb/css/events_information.css' %}">
{% endblock %}

{% block content %}


<div class="container-fluid">
        <h2 class="text-center mt-4 mb-4" style="font-weight: bold;">Hubspots</h2>  
        <h5 class="text-center">Diverse New York City restaurants and Research Centers</h5>   
  
        <div class="row">
      
                <div class="col-md-6">

                        <div class="shadow p-3 mb-5 bg-white rounded mt-4">                       
                        <div class="card" style="background: #000073;">
                                <div class="card-body text-center">
                                        <img src="{% static 'tfb/img/hubinfo/hrestaurant.svg' %}" class="img-fluid" alt="..." style="width: 80px; height: 80px;">                 
                                  <h5 class="card-title mt-2">Restaurants</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         
                                </div>
                              </div>
                            </div>
                </div>
                <div class="col-md-6">
 
<div class="shadow p-3 mb-5 bg-white rounded mt-4">                      
                        <div class="card" style="background: #084E75;">
                                <div class="card-body text-center">
                                        <img src="{% static 'tfb/img/hubinfo/huniversity.svg' %}" class="img-fluid" alt="..." style="width: 80px; height: 80px;">                    
                                  <h5 class="card-title mt-2">Research Centers</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 
                                </div>
                              </div>
                              </div>
                </div>
         
            </div>
    </div>
    
      <div class="container-fluid">
            <h2 class="text-center mt-4 mb-4" style="font-weight: bold;">What we provide</h2>       
            <div class="row">
                <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded mt-4">             
                        <div class="card"style="background: #000073;" >
                            
                                <div class="card-body text-center">
                                        <img src="{% static 'tfb/img/hlock.svg' %}" class="img-fluid" alt="..." style="width: 80px; height: 80px;">             
                                  <h5 class="card-title mt-2">Security</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                                </div>
                              </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="shadow p-3 mb-5 bg-white rounded mt-4">         
                        <div class="card"style="background: #084E75;">
                          
                                <div class="card-body text-center">
                                        <img src="{% static 'tfb/img/badge.svg' %}" class="img-fluid" alt="..." style="width: 80px; height: 80px;">                             
                                  <h5 class="card-title mt-2">Emblem</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                             
                                </div>
                              </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="shadow p-3 mb-5 bg-white rounded mt-4">        
                        <div class="card"style="background: #000073;">
                             
                                <div class="card-body text-center">
                                        <img src="{% static 'tfb/img/hplace.svg' %}" class="img-fluid" alt="..." style="width: 80px; height: 80px;">                                 
                                  <h5 class="card-title mt-2">Event Space</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           
                                </div>
                              </div>
                              </div>
                </div>
            </div>
        </div>

{% endblock content %}