{% extends "techforbiotech/base_domino.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tfb/css/hub_information.css' %}">
{% endblock %}

{% block content %}


<div class="shadow p-3 mb-5 bg-white rounded mt-4"> 
<div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mt-2">Hubspot</h2>
          <h3 class="card-title mt-4">Emblem</h3>
          <p class="headline mt-4" style="font-size: 1rem;">You appear under an emblem's category in our hubspot.</p>
          <p class="headline mt-4" style="font-size: 1rem;">You can have only one emblem active at the time through you can change it anytime you wish.</p>
          <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md-4 text-center mt-4">
                    <img src="{% static 'tfb/img/emblems/in.svg' %}" class="img-fluid" alt="..." style="width: 70px; height: 70px;">          
                            <div class="shadow p-3 mb-5 bg-white rounded mt-4"> 
                            <div class="card text-center">
                                    <img class="card-img-top mx-auto mt-4" src="{% static 'professional/img/blue.png' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/emblems/in.svg' %}" class="img-fluid mb-2" alt="...">  
                                        <h5 class="card-title">Eric McWilliams</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Chief of Finance</h6>
                                        <p class="card-text">
                                          Money can be made through networking, but networking on sophisticated level.
                            
                                        </p>
                                        <button type="button" class="btn">See Profile</button>
                                      </div>
                                  </div>
                                  </div>
                    </div>
                    <div class="col-md-4 text-center">
                            <img src="{% static 'tfb/img/emblems/moleculeleader4.svg' %}" class="img-fluid" alt="..." style="width: 70px; height: 70px;">  
                            <div class="shadow p-3 mb-5 bg-white rounded mt-4">   
                            <div class="card text-center">
                                    <img class="card-img-top mx-auto mt-4" src="{% static 'professional/img/blue.png' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/emblems/moleculeleader4.svg' %}" class="img-fluid mb-2" alt="...">  
                                        <h5 class="card-title">Alexandra Slomska</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Creator of Domino</h6>
                                        <p class="card-text">I wish to build the biggest Biotech Community in the world.</p>
                                        <button type="button" class="btn">See Profile</button>
                                      </div>
                                  </div> 
                                  </div>
                    </div>
                    <div class="col-md-4 text-center mt-4">
                            <img src="{% static 'tfb/img/emblems/lsn.svg' %}" class="img-fluid" alt="..." style="width: 70px; height: 70px;">  
                        <div class="shadow p-3 mb-5 bg-white rounded mt-4">   
                            <div class="card text-center">
                                    <img class="card-img-top mx-auto mt-4" src="{% static 'professional/img/blue.png' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/emblems/lsn.svg' %}" class="img-fluid mb-2" alt="...">  
                                        <h5 class="card-title">Roksana Dymek</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Nutricionist</h6>
                                        <p class="card-text">As working professional I seek opportunities to connect with the people from my industry.</p>
                                        <button type="button" class="btn">See Profile</button>
                                      </div>
                                  </div>
                                  </div>
                    </div>
                </div>
            </div>      

<!--HOW DOES IT WORK-->
<div class="card mx-auto shadow p-3 mb-3 bg-white rounded" style="max-width: 100%; width: 90%;">
    <div class="card-body">
      <h2 class="card-title">How does it work</h2>
      <h4 class="text-center">Emblem is required</h4>
      <p class="card-text mt-4">
          Within registration process you need to choose the emblem you would like to be associated with,
          although a subemblem is optional and you can pick it up later in your profile panel. If you are 
          a professional who wishes to connect with others who represent your category,
          it is advisible to pick up the subemblem, ex: Green Biotech. On the other hand, if you do not want to express your
          belongness to a specific category, you can skip a subemblem. 
      </p>
      <a href="{% url 'tfb-domino_view_get_the_emblem' %}" class="btn mt-2">Learn more about Emblems</a>
    </div>
  </div>

<!-- PROFESSIONAL RESUME -->            
<div class="card">
    <div class="card-body">  
        <h2 class="card-title mt-2">Professional Resume</h2>     
         <div class="row">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
 <!--RESUME CARDS-->
<!--First Name, Last Name, occupation, emblems info-->                             
<div class="card-p mx-auto d-block mt-4">
             <!--Profile picture-->
                  <div class="shadow-lg p-3 mb-3 bg-white rounded">     
                  <img class="card-img-top mt-4" src="{% static 'tfb/img/hubinfo/rightt.png' %}" alt="profileimage">  
                  <div class="card-body text-center">
                    <img src="{% static 'tfb/img/emblems/moleculeleader3.svg' %}" class="img-fluid-emblem-active" alt="...">
                    <h5 class="card-title mt-4">Alexandra Slomska</h5>
                   <h4 class="card-text">Creator of Domino</h4>
                   <p class="card-text mt-2">Networking is the only way to create great things. 
                
                    <h5 class="card-title">Work Experience</h5>
                    <!--First company-->  
                  
                      <h6 class="card-subtitle mt-2">Tech for biotech</h6>
                      <p class="card-text mt-2">Full Stack Developer</p>
                      <p class="card-text"> 2018-2019</p>
                      <p class="card-text">designing, managing database, backend code.</p>
                    <!--Second company-->  
                  
                      <h6 class="card-subtitle mt-2">Pets Make Friends</h6>
                      <p class="card-text mt-2">Front-End Developer</p>
                      <p class="card-text">2018-2019</p>
                      <p class="card-text">front-end.</p>
                      
              
                      <h5 class="card-title text-center">Events Attendance</h5>
                      <ul class="list-group" style="font-size: 0.9rem;">
                          <li class="list-group-item" style="border:none;">
                            BIG PHARMA - July 21th 2018
                        
                          </li>
                          <li class="list-group-item" style="border:none;">
                            BIG PHARMA - July 21th 2018
                   
                          </li>
                          <li class="list-group-item" style="border:none;">
                            BIG PHARMA - July 21th 2018
                          
                          </li>
                        </ul>

                        <h5 class="card-title mt-4 text-center">In my own words</h5>
                        <p class="card-text"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                      <h5 class="card-title mt-4 text-center">Contact</h5>
                      <ul class="list-group" style="font-size: 0.9rem;">
                          <li class="list-group-item" style="border: none;">Alexandra Slomska</li>
                          <li class="list-group-item" style="border: none;">+1 646-206-0176</li>
                          <li class="list-group-item" style="border: none;">aleksandravslomska@gmail.com</li>
                          <li class="list-group-item" style="border: none;">New York City</li>
                          <li class="list-group-item" style="border: none;">website:<a href="#"> www.techforbiotech.com</a></li>
                        </ul>
                
                  
                       
                    </div>
                  </div> 
                  </div>



              </div>

            <div class="col-md-6 mt-4">
                    <div class="shadow-lg p-3 mb-3 bg-white rounded">              
                <div class="card">
                    <div class="card-body mt-4">
                      <h2 class="card-title mt-4">As you can see...</h2>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                        make up the bulk of the card's content.
                      </p>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                          make up the bulk of the card's content.
                      </p>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                          make up the bulk of the card's content.
                      </p>


                      <h2 class="card-title mt-4">As you can see...</h2>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                        make up the bulk of the card's content.
                      </p>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                          make up the bulk of the card's content.
                      </p>
                      <p class="card-text mt-4">Some quick example text to build on the card title and 
                          make up the bulk of the card's content.
                      </p>
               
              
                        <h2 class="card-title mt-4">As you can see...</h2>
                        <p class="card-text mt-4">Some quick example text to build on the card title and 
                          make up the bulk of the card's content.
                        </p>
                        <p class="card-text mt-4">Some quick example text to build on the card title and 
                            make up the bulk of the card's content.
                        </p>
                        <p class="card-text mt-4">Some quick example text to build on the card title and 
                            make up the bulk of the card's content.
                        </p>
                        <p class="card-text mt-4">Some quick example text to build on the card title and 
                            make up the bulk of the card's content.
                        </p>
                      
                    </div>
                  </div>
                  
                  </div>
                  
            </div>


          </div>

        </div>

        </div>
                                      <!--WHAT'S THIS-->
<div class="shadow p-3 mb-3 bg-white rounded">  
        <div class="card mx-auto text-center mt-4">
            <img src="{% static 'tfb/img/emblems/moleculeleader4.svg'%}" class="img-fluid-leader mx-auto mt-4" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-2">Connect Colors</h5>
              <a href="{% url 'tfb-domino_view_become_leader' %}" class="btn mt-2">Learn more</a>
            </div>
          </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>


 
























 



{% endblock content %}