{% extends "techforbiotech/base_domino.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tfb/css/contact.css' %}">
{% endblock %}

{% block content %}


<div class="shadow p-3 mb-5 bg-white rounded mt-4"> 
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
      <!--Contact form-->
      <div class="container-fluid">
          <form class="mt-4">
              <h4 class="text-muted">
          We want to hear from you!
                </h4>
                <p class="text-muted mt-4" style="font-size: 0.9rem;">
           Domino is a fast growing social network for Life Sciences students, academia, professionals,
           companies, startups and investors. We would like to hear your feedback about our services. 
           Thank you for contribuiting in building our Life Sciences Social Network.
                    </p>  
            <div class="row mt-4">
              <div class="col-md-6">
              <div class="form-group">
          
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" aria-describedby="nameHelp">
              </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="6"></textarea>
              </div>
              </div>
              </div>
              <button type="submit" class="btn mb-4">
                  <img src="{% static 'tfb/img/mail.svg' %}" class="img-fluid mr-2" alt="Responsive image" style="width: 25px; height: 25px;">          
                Send Message</button>
            </form> 
            </div>
            </div>
        <div class="col-md-6">
            <img src="{% static 'tfb/img/zzz1.jpg' %}" class="img-fluid" alt="Responsive image" style=" width: 650px; height: 500px;">
        </div>
            </div>


     
    </div>
  </div>
  </div>


{% endblock content %}

