{% extends "techforbiotech/base_domino.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tfb/css/become_leader.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
        <div class="row">
    <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 95%; max-width: 100%;">   
            <h2 class="card-title text-center">Connect colors</h2>  
            <h5 class="card-title text-center">Connect people</h5>  
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                                    
                <div class="card mx-auto">
                <div class="card-body">  
                <img src="{% static 'tfb/img/emblems/letterl2.svg' %}" class="img-fluid" alt="Responsive image" style="width: 300px; height: 300px;">                                
                    </div>
                </div>    
                    </div>
                    <div class="col-md-6">
                            <div class="card mx-auto">
                                    <div class="card-body text-center">
                                      <h4 class="card-title">Become Leader</h4>
                                      <h6 class="card-subtitle">Emblem for leaders</h6>
                                      <p class="card-text mt-4" style="font-size: 0.9rem;">
                                      Leader emblem is assigned to the person who created at least one event through Tech for biotech platfrom.
                                      The Event must have take place in one of our hubspots or in a place of the leader's choice. 
                                      Tech for biotech values professionals who want to build Biotech Community and who contribute to 
                                      it through creating events.</p>
                                     
                                    </div>
                                  </div>
                    </div>
                </div>
            </div>
            <ul class="list-group mx-auto mb-4" style="margin-top: 5rem; width: 70%; max-width: 100%;">
                <h2 class="card-title text-center mb-4">Emblem System</h2>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Life Sciences
                      <img src="{% static 'tfb/img/emblems/lsn.svg' %}" class="img-fluid" alt="...">   
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Technology
                      <img src="{% static 'tfb/img/emblems/tn.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Research Organization
                      <img src="{% static 'tfb/img/emblems/rn.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Academia
                      <img src="{% static 'tfb/img/emblems/an.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Student
                      <img src="{% static 'tfb/img/emblems/csn.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center">
                      Company
                      <img src="{% static 'tfb/img/emblems/cn.svg' %}" class="img-fluid" alt="...">   
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Startup
                      <img src="{% static 'tfb/img/emblems/sn.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Investment
                      <img src="{% static 'tfb/img/emblems/in.svg' %}" class="img-fluid" alt="..."> 
                    </li>
                  </ul>
        </div>
 
    </div>

</div>  









{% endblock content %}



