{% extends "techforbiotech/base_domino.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tfb/css/style.css' %}">

{% endblock %}

{% block content %}


<div class="card bg-dark text-white">
        <img class="img-fluid" src="{% static 'tfb/img/ddd.jpg' %}" style="width: 100%; height: 100%;"/>
        <div class="card-img-overlay mt-4 text-center">
          <h1 class="display-1 mt-2" style="font-weight: bold;" >DoMino</h1>
          <p class="lead mt-2 mb-2" style="font-size: 2.5rem; font-weight: bold;">Helping you connect</p>
        </div>
      </div>
    
    <div class="shadow p-3 mb-3 bg-white rounded" >
            <div class="card text-center" style=" background: #000073; color: #fff;">
                    <div class="card-body">
                      <h2 class="display-4 mt-4">Life Sciences Social Network</h2>
                      <p class="lead mt-4"> 
                            Networking opportunities for students, academia, startups, companies, research 
                            organizations and investors. 
                      </p>
                    </div>
                  </div>
                  </div>
 
    <div class="shadow p-3 mb-3 bg-white rounded" >
    <div class="card text-center" style=" background: #000073; color: #fff;">
            <div class="card-body">
              <h2 class="display-4 mt-4">Join platform and get discounts</h2>
              <p class="lead mt-4">We offer discounts for our users at diverse New York City restaurants that 
                    are part of our community.</p>
            </div>
          </div>
          </div>

    
          <div class="shadow p-3 mb-3 bg-white rounded" >
                <div class="card text-center" style=" background: #000073; color: #fff;">
                        <div class="card-body">
                          <h2 class="display-4 mt-4">Organize your own events</h2>
                          <p class="lead mt-4">Become a leader and bring the people together! Choose one of 
                                our partnering restaurants.</p>
                        </div>
                      </div>
                      </div>
                      
                      <div class="shadow p-3 mb-3 bg-white rounded" >
                            <div class="card text-center" style=" background: #000073; color: #fff;">
                                    <div class="card-body">
                                      <h2 class="display-4 mt-4">WEAR YOUR EMBLEM!</h2>
                                      <p class="lead mt-4">Show the people who you are.</p>
                                    </div>
                                  </div>
                                  </div>            

<!--About us-->
<div class="card text-center mb-4" >
        <div class="container-fluid" style="color: white;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="shadow p-3 mb-3 bg-white rounded" >
                            <div class="card" style="background-color: #000073; border-radius: 0%;">
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/badge.svg' %}" class="img-fluid" alt="Responsive image" style="width: 70px; height: 70px;">   
                                      <h4 class="card-title mt-4">Get the Emblem</h4>
                                      <p class="card-text"style="line-height: 25px; font-size: 16px;">Upon registration you chose the emblem 
                                          representing a category to which you belong.
                                      </p>
                                      <p class="text-center">
                                        <a class="btn btn-emblem" href="{% url 'tfb-domino_view_get_the_emblem' %}">Learn More</a>
                                      </p>
                                    </div>
                                   
                                  </div>
                                  </div>
                    </div>
                    <div class="col-md-3">
                            <div class="shadow p-3 mb-3 bg-white rounded" >
                            <div class="card" style="background-color: #084E75; border-radius: 0%;">
                             
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/connect.svg' %}" class="img-fluid" alt="Responsive image" style="width: 70px; height: 70px;">       
                                    <h4 class="card-title mt-4">Connect</h4>
                                      <p class="card-text"style="line-height: 25px; font-size: 16px;">Your emblem appears on your profile. Other
                                          professionals can find you in the hubspot under your emblem's
                                          category. 
                                      </p>
                                      <p class="text-center mt-4">
                                            <a class="btn btn-connect" href="{% url 'tfb-domino_view_hub_information' %}">Learn More</a>          
                                      </p>
                                    </div>
                                  
                                  </div>
                                  </div>
                    </div>
                    <div class="col-md-3">
                            <div class="shadow p-3 mb-3 bg-white rounded" >
                            <div class="card" style="background-color: #000073; border-radius: 0%;">
                               
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/event.svg' %}" class="img-fluid" alt="Responsive image" style="width: 70px; height: 70px;">     
                                      <h4 class="card-title mt-4">Attend Events</h4>
                                      <p class="card-text"style="line-height: 25px; font-size: 16px;">Attend social events hosted at
                                          diverse New York City restaurants. Wear your emblem 
                                          on your chest.
                                      </p>
                                      <p class="text-center">
                                            <a class="btn btn-attend" href="{% url 'tfb-domino_view_events_information' %}">Learn More</a>            
                                            </p>
                                    </div>
                                   
                                  </div>
                                  </div>
                    </div>
                    <div class="col-md-3">
                            <div class="shadow p-3 mb-3 bg-white rounded" >
                            <div class="card" style="background-color: #084E75;border-radius: 0%; ">
                                    <div class="card-body">
                                        <img src="{% static 'tfb/img/crown.svg' %}" class="img-fluid" alt="Responsive image" style="width: 70px; height: 70px;">        
                                    <h4 class="card-title mt-4">Become Leader</h4>
                                    <p class="card-text" style="line-height: 25px; font-size: 16px;">Organize your own events and network with investors,
                                          startups, companies, academia and developers.</p>
                                    <p class="text-center">
                                    <a class="btn btn-l" href="{% url 'tfb-domino_view_become_leader' %}">Learn More</a>  
                                    </p>
                                    </div>
                                   
                                  </div>
                                  </div>

                    </div>
                </div>
            </div>  
        </div>

    <div class="shadow p-3 mb-3 bg-white rounded"> 
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                            <div class="card">
                                    <div class="card-body mt-4">
                                      <h5 class="card-title">We are connecting life sciences professionals, students, academia, research organizations, startups, companies 
                                          and investors.</h5>
                                    <p class="card-text mt-4" style="font-size: 0.9rem;">
                                        Domino was created to connect Life Sciences Community and create
                                        the biggest science hubspot in the world. 

                                        We are rapidly growing startup that offers social networking opportunities
                                        at diverse New York City restaurants and bars. 

                                        We also advertise Research Organizations and Universities professional events
                                        through our network. 
                                    </p>
                                    <p class="card-text mt-4" style="font-size: 0.9rem;">
                                            Domino was created to connect Life Sciences Community and create
                                            the biggest science hubspot in the world. 
    
                                            We are rapidly growing startup that offers social networking opportunities
                                            at diverse New York City restaurants and bars. 
    
                                            We also advertise Research Organizations and Universities professional events
                                            through our network.     
                                        </p>
                               
                             <a href="#" class="btn btn-join mt-4" data-toggle="modal" data-target="#joinus">Register</a>
 
                                    </div>
                                    </div>
                                 
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'tfb/img/9041.jpg' %}" class="img-fluid mt-4" alt="Responsive image" style="width: 600px; height: 600px;">
                    </div>
                    </div>
                </div>
            </div>   

      




   







{% endblock content %}